header {
  background: #222;
  color: #FFF;
  padding: 20px 30px;
}

header a .logo  {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  width: 49%;
  font-size: 1.5em;
}

header a .logo span {
  vertical-align: middle;
}

header a img  {
  vertical-align: middle;
}

nav {
  width: 50%;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #FFF;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  transition: 0.3s ease all;
}

nav ul li a:hover {
  background: #444;
}